html, body {
    background: url('bg2.gif') no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Для предотвращения скроллинга */
}

.sccs_msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    position: relative;
    margin: 39% 30%;
    font: 15px 'Open Sans', sans-serif;
    user-select: none;
}
.sccs_msg h1 {
    margin-bottom: 20px;
    font-size: 250%;
    background: rgba(1, 64, 146, 0.3);
    backdrop-filter: blur(20px); /* Размытие фона */
    border: 3px solid rgba(215, 112, 250, 0.216);;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
}
h1 {
    margin: 0;
    white-space: nowrap; /* Помещает текст в одну строку */
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50px;
    border-radius: 10px;
    border: 3px solid rgba(215, 112, 250, 0.216);;
    color: white;
    background: rgba(1, 64, 146, 0.3);
    backdrop-filter: blur(20px);
    cursor: pointer;
    text-decoration: none;
}
.btn-text {
    font: 25px 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

.btn:hover{
    color: rgb(189, 130, 208);;
}